<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="{{ url_for('index') }}">Home Page</a>

    <h1>List of Author ID</h1>
    <ul>
        {% for authorId in author_book.keys() %}
        <li> {{ authorId }}</li>
        {% endfor %}
    </ul>

    <form action="/author" method="POST">
        <h3>Add Author</h3>
        <p>
            <label for="authorId"></label>
            <input type="text" name="authorId">
        </p>

        <p><Input type="submit" name="submitAuthorId"></p>
    </form>
</body>
</html>